body {
    background-color: rgb(253, 251, 251);
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
#cabecalho {
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    background-color: rgb(42, 157, 143);
    width: 100%;
    line-height: normal;
    border: 0px;
    margin: auto;
    padding: auto;
}
#minha_foto {
    position: relative;
    top: 125px;
    border-radius: 50%;
    border: 5px solid rgb(233, 196, 106);
    z-index: 1;
}
#licoes_aprendidas {
    position: absolute;
    top: 400px;
    left: 650px;
    display: inline-block;
    border: 5px solid red;
    text-align: left;
}
#licoes_a_aprender {
    position: absolute;
    top: 400px;
    left: 385px;
    display: inline-block;
    border: 5px solid red;
    text-align: left;
}
article {
    color: white;
    position: absolute;
    left: 25%;
    top: 100px;
    width: 250px;
    text-align: left;
    border: 5px solid rgb(233, 196, 106);
    padding-right: 500px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5%;
    background-color: rgb(38, 70, 83);
}
aside {
    color: white;
    position: absolute;
    right: 400px;
    top: 140px;
    width: 250px;
    text-align: right;
}
footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    background-color: rgb(42, 157, 143);
    width: 100%;
    font-size: 20px;
}
#tabela {
    position:absolute;
    top: 500px;
    right: 380px;
    border: 2px solid black;
}