body {
    background-color: rgb(253, 251, 251);
}
#cabecalho {
    position: fixed;
    top: 0px;
}
#minha_foto {
    position: relative;
    top: 50px;
}
#licoes_aprendidas, #licoes_a_aprender {
    position: relative;
    top: 30px;
}
article {
    position: relative;
    left: 210px;
    bottom: 575px;
    width: 300px;
}
aside {
    position: absolute;
    right: 650px;
    top: 75px;
    width: 200px;
}
footer {
    position: relative;
    bottom: 0px;
}
